body {
  margin: 16px;
  font-family: 'Roboto', sans-serif;
}

.board-row {
  width: 480px;
}

.board-square {
  padding: 0px;
  height: 60px;
  border: 1px solid black;
  position: relative;
}

.board-square--one {
  background-color: #8B4513;
}

.board-square--two {
  background-color: #ffdbc1;
}

.board-piece {
  margin: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  border-radius: 100px;
}

.board-piece--black {
  background-color: black;
}

.board-piece--white {
  background-color: white;
}