body {
  margin: 16px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 16px;
  color: #8B4513;
  font-weight: bold;
}

h2 {
  color: #8B4513;
}

h4 {
  padding: 4px;
  text-align: center;
  color: #8B4513;
}

p {
  margin: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.button {
  margin-left: 16px;
  border: 2px solid #8B4513;
  border-radius: 8px;
  background-color: #8B4513;
  color: white;
  min-width: 150px;
  min-height: 40px;
  cursor: pointer;
}

.button:hover {
  background-color: #995220;
  outline: none;
}


.button:active {
  background-color: #7a3f16;
  outline: none;
}

.button:focus {
  outline: none;
}

.scoreboard {
  margin: 16px;
  max-width: 480px;
  border: 1px solid #8B4513;
  border-radius: 8px;
}

.scoreboard-player {
  padding: 8px;
  text-align: center;
}

.scoreboard-player--selected {
  background-color: #ffdbc1;
  border: 1px dashed #8B4513;
  border-radius: 8px
}

.board {
  margin: 16px
}

.board-row {
  width: 480px;
}

.board-square {
  padding: 0px;
  height: 60px;
  border: 1px solid black;
  position: relative;
}

.board-square--dark {
  background-color: #8B4513;
}

.board-square--light {
  background-color: #ffdbc1;
}

.board-piece {
  margin: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  border-radius: 100px;
}

.board-piece--black {
  background-color: black;
  border: 4px double white;
}

.board-piece--black--king {
  border: 4px solid white;
}

.board-piece--black-selected {
  background-color: #212121;
}

.board-piece--white {
  background-color: white;
  border: 4px double black;
}

.board-piece--white--king {
  border: 4px solid black;
}

.board-piece--white-selected {
  background-color: #BDBDBD;
}

.message-container {
  margin: 16px;
  max-width: 480px;
  text-align: center;
}

.message-fail {
  color: #D50000;
}

.final-decision {
  text-align: left;
  margin: 16px;
}

.footer {
  margin: 16px;
  padding: 8px;
  max-width: 480px;
  text-align: center;
  font-size: 12px;
}

