body {
  font-family: 'Roboto', sans-serif;
}

.board-row {
  width: 480px;
}

.board-square {
  padding: 0px;
  height: 60px;
  border: 1px solid black;
  position: relative;
}

.board-piece {
  margin: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 100px;
}